################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EDennis.AspNetCore.ApiLauncher/v16/Server/sqlite3
/.vs/EDennis.AspNetCore.ApiLauncher/v16
